<div class="banner"></div>
<div class="wrapper">
    <div [ngClass]="isRendering() ? 'hidden' : 'charts'">
        <p>
            <span>
                <b style="margin-right: 25px">Range : {{formatStructs()}}</b>
                <input type="text" matInput ngxDaterangepickerMd [locale]="{applyLabel: 'Apply', format: 'DD-MM-YYYY'}"
                    startKey="start" endKey="end" [(ngModel)]="selected" (ngModelChange)="applyDateFilter()"
                    name="daterange" class="datepicker" />
                <button class="reset" (click)="resetAllFilters()">Reset</button>
                <button *ngIf="historyEnabled === true" class="reset" (click)="showHistory = true">History</button>
            </span>
        </p>
        <div *ngFor="let source of dataJSON.sources">
            <div class="text-center" *ngIf="dataJSON.sourceLabels === true">
                <h1><b>{{source.label}}</b></h1>
                <hr>
            </div>
            <div class="row">
                <div class="col-6 col-lg-6 col-sm-12" *ngFor="let dataSet of source.data">
                    <div class="chart" id="{{source.id}}{{dataSet.id}}Chart"></div>
                </div>
            </div>
        </div>

        <div class="footer">
            <b>&copy; 2019 - {{year}} Guus Lieben</b>
        </div>
    </div>

    <script>
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
        });
    </script>

    <div [ngClass]="showHistory ? 'popup' : 'hidden'" (click)="showHistory = false">
        <div (click)="showHistory=true" class="historyWrapper">
            <h1 class="loader">{{isRendering() ? 'Loading application' : 'History'}} <button class="reset history"
                    (click)="showHistory = false">Hide</button></h1>
            <div *ngIf="historyEnabled"><b
                    *ngFor="let step of progress"><b><small>{{step.lastTook}}</small></b><br>{{step.new}}</b></div>
        </div>
    </div>

</div>